@page "/"

<h1>Hello, world!</h1>

<HelloCanvas
    Text=@("Fixed-Size Canvas!")
    Width="600" Height="150" />

<br />

<HelloCanvas
    Text=@("Same component but with different parameters")
    BgColor="green" />
